body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 20px;
}

.brand-logo {
    margin-left: 30px;
}

.buttons-csv,
.buttons-print {
    margin-top: 20px;
    margin-left:20px;
}

select.browser-default {
    height: 30px;
}
