<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="page-footer teal lighten-1">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">ORFanID</h5>
                    <span valign-wrapper>
            <p class="grey-text text-lighten-4">ORFanID is an open-source web application
              that is capable of predicting orphan genes from a given list of gene sequences of a specified species.
              Each candidate gene is searched against the BLAST non-redundant database
              to find any detectable homologous sequences using BLASP programme.
              </p>
          </span>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © Copyright 2017-2018
                <a class="grey-text text-lighten-4 right" href="mailto:sureshhewabi@gmail.com?cc=vinodh@thegunasekeras.org,richgun01@gmail.com&Subject=ORFanID%20Online%20Issues">Contact Us</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>