<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <nav>
        <div class="nav-wrapper teal">

            <a href="/" class="brand-logo" style="margin-left: 50px;">ORFanID</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/input">Home</a></li>
                <li><a href="/results">Results</a></li>
                <li><a href="/orfanbase">ORFanBase</a></li>
                <li><a href="/clamp">Clamp Project</a></li>
                <li><a href="instructions">Instructions</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>