<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139406062-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139406062-1');
    </script>
    <title>ORFanGenes</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css">
    <link type="text/css" rel="stylesheet" href="assets/css/orfan_styles.css">
    <link type="text/css" rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
<div th:replace="fragments/header :: nav">&nbsp;</div>
<main>
    <form action="/analyse" th:action="@{/analyse}" th:object="${sequence}" method="post">
        <div class="row">
            <div class="col s4 offset-s1">
                <div class="file-field input-field">
                    <div class="btn">
                        <input id="fastafile" type="file" accept=".fasta" onchange="setFileContent(this.value);">
                        <i class="large material-icons" style="height: 50px; width: 50px;">cloud_upload</i>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate"  id="fastaFileName" type="text" placeholder="Upload file">
                    </div>
                </div>
            </div>
            <div class="col s1" >
                <div class="row">
                    <div class="col s10">
                        <div>
                            <p>
                                <label>
                                    <input class="with-gap" name="accessionType" type="radio" value="protein" checked />
                                    <span>Protein</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="with-gap" name="accessionType" type="radio" value="nucleotide" />
                                    <span>Gene</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s5">
                <div class="row">
                    <div class="col s10">
                        <div class="input-field">
                            <input type="text" id="ncbi_accession_input" class="validate" name="accession">
                            <label for="ncbi_accession_input">NCBI or Uniprot Accession(s)</label>
                            <!--<span class="helper-text" data-error="wrong" style="font-size: small; color: #818181">Eg: NP_415100.1,YP_002791247.1,NP_414542.1</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-s1 s10">
                <div class="input-field">
                    <textarea id="genesequence" name="sequence" class="materialize-textarea validate" raw="5" style="overflow-y:scroll;"></textarea>
                    <label for="genesequence">Gene Sequence</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="organismName" name="organismName" class="autocomplete validate" required="required">
                        <label for="organismName">Organism</label>
                    </div>
                </div>
            </div>
            <div id="organismIcon" class="col s1">
            </div>
        </div>
        <div class="row hidden" id="advanceparameterssection">
            <div class="col offset-s1 s10">
                <h6>Advanced parameters:</h6><br>
                <p class="range-field">
                    <label for="maxevalue">Maximum E-value for BLAST(e-10):</label>
                    <input type="range" id="maxevalue"  name="maxEvalue" min="1" max="10" value="3"/>
                    <label for="maxtargets">Maximum target sequences for BLAST:</label>
                    <input type="range" id="maxtargets" name="maxTargetSequence" min="100" max="1000" value="{{Config::get('orfanid.default_maxtargetseq')}}"/>
                    <label for="maxevalue">Identity:</label>
                    <input type="range" id="identity"  name="identity" min="60" max="100" value="60"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-s1 s8">
                <p>Examples:</p>
                <a id="load-ecoli-example-data" class="waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Escherichia coli">
                    <i class="icon medium icon-species icon-ecoli"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="load-fly-example-data" class="waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Drosophila melanogaster">
                    <i class="icon medium icon-species icon-fly"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="load-human-example-data" class="waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Homo sapiens">
                    <i class="icon medium icon-species icon-human"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="load-thaliana-example-data" class="waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Arabidopsis thaliana">
                    <i class="icon medium icon-species icon-brassica"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
            </div>
            <div class="col s3">
                <a id="advanceparameterslink" class="waves-effect waves-light">Advanced parameters</a>
            </div>
        </div>
        <div id="input_progressbar" class="modal" style="background-color: #f6f7f9" >
            <div class="modal-content">
                <h6>  ORFanID In Progress.... </h6>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div class="row">
                    <div class="col s12" style="margin-top: 40px">
                        <div class="col offset-s3 s1">
                            <img src="assets/images/loading4.gif" alt="progressbar">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">-->
                <!--&lt;!&ndash;<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>&ndash;&gt;-->
            <!--</div>-->
        </div>

        <div class="row">
            <div class="col offset-s10 s2">
                <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</main>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/plotly-latest.min.js"></script>
<script type="text/javascript" src="assets/js/orfanid-input.js"></script>
</body>
</html>