<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <%--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>--%>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ORFanID</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div th:replace="fragments/header :: nav">&nbsp;</div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text text-lighten-2">ORFanGenes</h1>
            <div class="row center">
                <h5 class="header col s12 light">Identifying Orfan Genes</h5>
            </div>
            <div class="row center">
                <a href="input" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>ORFanGenes</h4>
                <p>ORFanGenes is a web-based software engine that identifies ORFan genes from the genomes of specified species or from a given list of DNA sequences. The scope of the search for orphan genes can be defined by the selection of the taxonomy level of interest. Detectable homologous sequences are found for candidate gene in the NCBI databases. From these findings the ORFanID engine identifies and depicts orphan genes. Results may be viewed and analyzed graphically for the purpose of scientific research and inquiry.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12" style="color:#ffe57f;">Orphan genes are an unraveling mystery. We hope that ORFanID will help reveal the intricacies of their origin and function.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">ORFan Genes</h5>
                    <p>Orphan genes (also known as taxonomically restricted genes) are genes that do not have related ancestral genes in other species or at the specified taxonomy level. At the molecular level, ORFan genes consist of DNA sequences that have no homology with sequences found in common DNA databases such as Genbank. While the prevailing dogma has defined genes in different species as a result of gene duplication or recombination, the presence of orphan gene ubiquity in various sequenced genomes is a mystery, perhaps even a significant problem to be solved.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
                    <h5 class="center">Biology</h5>
                    <p>Historically, gene function is known to be expressed through proteins. There are specific organisms that have been <strong>found </strong>with unique proteins expressed by orphan genes such as Hydra, various Mollusks, Salamander and others. It appears that the anatomy of Hydra is mediated by orphan genes that give rise to unique proteins. Similarly, the mantle of various Mollusks has been found to be expressed from orphan genes, while the regeration of salamander limbs are mediated by orphans (Dr. Paul Nelson, 2017)</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Discovery</h5>
                    <p>By identifying these unique DNA sequences, ORFanID can help discover the origin, function and other significance of orphan genes. The software is able to identify genes unique to genus, family, or species etc. at differing taxonomy levels. Based on the parameters specified, some of orphans (also called Taxonomy Restricted Genes) may or may not fall under the given classification for strict ORFans. &nbsp; As such, ORFanID can help delineate the actual sequence and function of <em>de novo</em> genes discovered in species and at all levels of the taxonomy tree.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light" style="text-align:left;margin:auto;">Orphan genes, a frontier for discovery</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="assets/js/materialize.js"></script>
<script src="assets/js/init.js"></script>
</body>
</html>
